body{
    background-color: #C0FFEE;
}

.navbar {
  font-size: 1.6em;
  border-radius: 15px;
  background-color: #BADA55;
  width: 26%;
  text-align: left;
  float: left;
}
.nav {
    width: 100%;
}
.mainBackground {
    background-color: #C0FFEE
}
.input-modal {
  display: inline;
  width: 20% !important;
}
.input-modal-amount {
  display: inline;
  width: 15% !important;
  margin-right: 10px;
}
.input-modal-date {
  width: 10% !important;
  display: inline;
  margin-right: 10px;
}

.input-modal-action {
  display: inline;
  width: 10% !important;
  margin-left: 5px;
}
.input-modal-action-name {
  margin-left: 10px;
}

.search {
  width: 50%;
  margin-left: 36%;
  padding-bottom: 30px;

}
.total-asset-value {
  display: inline-block;
  margin-left: 10%;
  font-size: 18pt;
}

.asset-table {
  background-color: #AFAFAF;
  display: inline-block;
  margin-left: 10%;
  width: auto !important;
}

.asset-table th {
  border-top: none;
  background-color: #521945;
  color: white;
  font-size: 1.3em;
}

#asset-tracker-name {
  background-color: #BADA55;
  border-radius: 15px;
  margin-left: 50px;
  padding: 15px;
  width: 20% !important;
}


.connecting-spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: solid blue;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
